<br>
<div >

    <div style=" float: left; width: 33.33%;">
        <ul  class="items"  style="width: 100%;"> 
            <p >
                <span class="badge" style="width: 30%;">System Info</span>
            </p>
            <li >
                <span >Manufacturer </span>:: {{systemInfo?.manufacturer}}
            </li>  
            <li >
                <span >Model </span>:: {{systemInfo?.model}}
            </li>  
            <li >
                <span >Version </span>:: {{systemInfo?.version}}
            </li>  
            <li >
                <span >Serial </span>:: {{systemInfo?.serial}}
            </li>  
            <li >
                <span >uuid </span>:: {{systemInfo?.uuid}}
            </li>  
            <li >
                <span >sku </span>:: {{systemInfo?.sku}}
            </li>  
            
           
        </ul>
    
    </div>

    <div style="display:table; float: left; width: 33.33%;">
        <ul  class="items"  style="width: 100%;"> 
            <p >
                <span class="badge" style="width: 30%;">CPU Info</span>
            </p>
            <li >
                <span >Manufacturer </span>:: {{cpuInfo?.manufacturer}}
            </li>  
            <li >
                <span >Brand </span>:: {{cpuInfo?.brand}}
            </li>  
            <li >
                <span >Speed </span>:: {{cpuInfo?.speed}}
            </li>  
            <li >
                <span >SpeedMin </span>:: {{cpuInfo?.speedmin}}
            </li>  
            <li >
                <span >SpeedMax </span>:: {{cpuInfo?.speedmax}}
            </li>  
            <li >
                <span >Governor </span>:: {{cpuInfo?.governor}}
            </li>  
            <li >
                <span >Core </span>:: {{cpuInfo?.core}}
            </li>  
            <li >
                <span >Pysical Cores </span>:: {{cpuInfo?.physicalCores}}
            </li>  
            <li >
                <span >Processors </span>:: {{cpuInfo?.processors}}
            </li>  
            <li >
                <span >Socket </span>:: {{cpuInfo?.socket}}
            </li>  
            <li >
                <span >Vendor </span>:: {{cpuInfo?.vendor}}
            </li>  
            <li >
                <span >Family </span>:: {{cpuInfo?.family}}
            </li>  
            <li >
                <span >Model </span>:: {{cpuInfo?.model}}
            </li>  
            <li >
                <span >Stepping </span>:: {{cpuInfo?.stepping}}
            </li>  
            <li >
                <span >Voltage </span>:: {{cpuInfo?.voltage}}
            </li>  
        </ul>
    
    </div>

    <div style="display:table;float: left; width: 33.30%;">
        <ul  class="items"  style="width: 100%;"> 
            <p >
                <span class="badge" style="width: 30%;">Memory Info</span>
            </p>
            <li >
                <span >Total </span>:: {{memInfo?.total}}
            </li>  
            <li >
                <span >Used </span>:: {{memInfo?.used}}
            </li>  
            <li >
                <span >Free </span>:: {{memInfo?.free}}
            </li>  
            <li >
                <span >Active </span>:: {{memInfo?.active}}
            </li>  
            <li >
                <span >BufferCache </span>:: {{memInfo?.buffcache}}
            </li>  
            <li >
                <span >Buffers </span>:: {{memInfo?.buffers}}
            </li>  
            <li >
                <span >Cached </span>:: {{memInfo?.cached}}
            </li>  
            <li >
                <span >Slab</span>:: {{memInfo?.slab}}
            </li>  
            <li >
                <span >Available </span>:: {{memInfo?.available}}
            </li>  
            <li >
                <span >SwapTotal </span>:: {{memInfo?.swaptotal}}
            </li>  
            <li >
                <span >SwapUsed </span>:: {{memInfo?.swapused}}
            </li>  
            <li >
                <span >SwapFree </span>:: {{memInfo?.swapfree}}
            </li>  
           
        </ul>
    
    </div>
</div>



